<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перевод картинки</title>
    <meta http-equiv=" Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h2>Загрузить картинку для перевода</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form class="upload-form" method="post" th:action="@{/uploadimage}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input required type="file"  name="image" accept="image/*" class="form-control-file">
                        <label for="modelLanguage">Выберите язык</label>
                        <select name="modelLanguage" id="modelLanguage" class="form-select mt-2">
                            <option th:each="lang : ${modelLanguages}" th:value="${lang}"
                                    th:text="${lang.getValue()}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Перевести</button>
                </form>
                <h3>Перевод: </h3>
                <span th:text="${language}"></span>
                <div th:if="${result ne null}" class="translated-text">
                    <p style="white-space: pre-line" class="text"  th:text="${result}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>